@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    box-sizing: border-box;
 
}
body{
  align-items: center;
  display: flex;
  font-family: "Ubuntu";
  font-size: 16px;
  justify-content: center;
  min-height: 100vh;
  background-image: url(pattern.png); 
   
 
}
 .container{
 
border-radius: 20px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
width: 350px;
background: #3b5998;
 
 }
.register-content
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.register-content h2
{
    text-align: center; 
    font-size: 35px;
    border-bottom: 2px solid #c46415;
}
.form-control
{
    padding: 8px;
    margin: 10px;
  
}
.register-content .btn-primary
{
   
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #ff5722;
    font-weight: 600;
    color:  #000000;
    margin: 15px 0 0 45px;
    padding: 13px;
    outline: none;
    cursor: pointer;
}
.register-content .btn-primary:active{
    background-color: rgb(245, 113, 6);
    box-shadow:  0 2px 2px 2px #666;
    
}
span{
  margin-top: 8px;
}
span a{
  background: #ffffff;
    font-size: 36px;
    padding: 12px;
    border-radius: 36px;
    
}
  i.fa.fa-twitter-square,.fa-facebook-square,.fa-google{
     color:  #1DA1F2;
  }
  i.fa-facebook-square{
    color:  #3b5998;
 }i.fa-google{
  color:  tomato;
} 
   
   